{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
{% set python = load_lua(path="config/python.lua") -%}
{% set platform = load_lua(path="config/platform.lua") -%}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ project.NAME }}"
version = "{{ version_str(path="config/version.lua") }}"
requires-python = "{{ platform.PYTHON_REQUIRES }}"
authors = [
	{ name = "{{ personal.FULLNAME }}", email = "{{ personal.EMAIL }}" }
]
maintainers = [
	{ name = "{{ personal.FULLNAME }}", email = "{{ personal.EMAIL }}" }
]
description = "{{ project.DESCRIPTION_SHORT }}"
readme = "README.md"
license = "{{ platform.LICENSE_TYPE }}"
keywords=[
{%- for keyword in project.KEYWORDS %}
    "{{ keyword }}",
{%- endfor %}
]
classifiers = [
{%- for classifier in platform.CLASSIFIERS %}
    "{{ classifier }}",
{%- endfor %}
]
dependencies = [
{%- for dependency in python.INSTALL_REQUIRES %}
    "{{ dependency }}",
{%- endfor %}
]

[project.urls]
"Homepage" = "https://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}"
"Bug Tracker" = "https://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}/issues"
"Documentation" = "https://{{ personal.GITHUB_USERNAME }}.github.io/{{ project.NAME }}"
"Download" = "https://pypi.org/project/{{ project.NAME }}/"
"Repository" = "https://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}"

[project.scripts]
{% for key, value in python.SCRIPTS -%}
{{ key }} = "{{ value }}"
{% endfor %}
[tool.ruff]
line-length = 130

[tool.pytest.ini_options]
pythonpath = ["src"]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ project.NAME }}"]

[tool.hatch.build.targets.sdist]
include = [
    "src/{{ project.NAME }}/",
    "README.md",
    "LICENSE",
    "pyproject.toml"
]
exclude = [
    ".gitignore",
    ".github/",
    "tests/",
    "docs/",
    "config/",
    "*.md",
]

[tool.mypy]
python_version = "3.12"
warn_return_any = true
warn_unused_configs = true

[tool.hatch.envs.default]
installer = "uv"

[tool.uv.pip]
prerelease = "disallow"
